
<!DOCTYPE html>
<html>
<head>
    <title>Add Teacher</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Add Teacher</h2>
        <form method="POST" action="/admin/add_teacher">
            <input type="text" name="name" placeholder="Teacher Name"><br>
            <input type="text" name="username" placeholder="Username"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <button type="submit">Add Teacher</button>
        </form>
    </div>
</body>
</html>
